@page "/transaction/{Page}"
@inject Services.ITransactionService TransactionService
@inject Services.IUserService UserService
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject VendingOperator.Client.Shared.PageHistoryState PageHistoryState

<h1>Transactions</h1>
<br/>

<div class="row mb-3">
    <div class="col-md-7">
        @if(LoggedIn)
        {
            <NavLink href="/transaction/createtransaction" class="btn btn-sm btn-success mb-2">Add Transaction</NavLink>
        }
    </div>
    <div class="input-group col-md-5 text-md-right">
        <input name="TransactionSearchInput" type="text" class="form-control" placeholder="Vending Machine Name" @bind="this.SearchTerm" @onkeyup="SearchBoxKeyPress" />
        <div class="input-group-btn">
            <button name="TransactionSearchButton" class="btn btn-default" @onclick="SearchClick">
                <i class="oi oi-magnifying-glass" title="search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="input-group-btn">
            <button name="TransactionSearchClear" class="btn btn-default" @onclick="ClearSearch">
                <i class="oi oi-x" title="clear" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

@if (Transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:10%">TransactionId</th>
                <th style="width:10%">AmountPaid</th>
                <th style="width:20%">VendingMachineId</th>
                <th style="width:20%">ProductId</th>
                <th style="width:20%">UserId</th>
                <th style="width:20%">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Transaction in Transactions.Results)
            {
                <tr>
                    <td>@Transaction.TransactionId</td>
                    <td>@Transaction.AmountPaid</td>
                    <td>@Transaction.VendingMachineId</td>
                    <td>@Transaction.ProductId</td>
                    <td>@Transaction.UserId</td>
                    <td>@Transaction.Timestamp</td>
                    <td style="white-space: nowrap">
                        <NavLink href="@($"/transaction/viewtransaction/{Transaction.TransactionId}")" class="oi oi-eye text-primary mr-3 nounderline"></NavLink>
                        @if (LoggedIn)
                        {
                            <NavLink href="@($"/transaction/updatetransaction/{Transaction.TransactionId}")" class="oi oi-pencil text-warning mr-2 nounderline"></NavLink>
                        }
                    </td>
                </tr> 
            }
        </tbody>
    </table>
    <Pager Result=@Transactions PageChanged=PagerPageChanged />
}

@code {
    [Parameter]
    public string Page { get; set;} = "1";
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;
    protected PagedResult<Transaction> Transactions;
    
    public bool LoggedIn
    {
        get {return UserService.User != null;}
    }
    
    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
        base.OnInitialized();
    }
    
    protected override async Task OnParametersSetAsync()
    {
        Transactions = await TransactionService.GetTransactions(null, Page);
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }

    protected async Task SearchBoxKeyPress(KeyboardEventArgs ev)
    {
        if (ev.Key == "Enter")
        {
            await SearchClick();
        }
    }

    protected async Task SearchClick()
    {
        if (string.IsNullOrEmpty(SearchTerm))
        {
            Transactions = await TransactionService.GetTransactions(null, Page);
            return;
        }
        Transactions = await TransactionService.GetTransactions(SearchTerm, Page);
        StateHasChanged();
    }

    protected async Task ClearSearch()
    {
        SearchTerm = string.Empty;
        Transactions = await TransactionService.GetTransactions(SearchTerm, Page);
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
        StateHasChanged();
    }

    protected void PagerPageChanged(int page)
    {
        UriHelper.NavigateTo("/transaction/" + page);
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }

    private async void DeleteTransaction(Transaction _Transactions)
    {
                var Transaction = _Transactions;
                await TransactionService.DeleteTransaction(Transaction.TransactionId);
        Transactions = await TransactionService.GetTransactions(null, Page);
        StateHasChanged();
    }
}